<section class="jumbotron">
  <h1>ALL THE GIFS</h1>
</section>

<main class='column-container'>
  <% @categories.each do |category| %>

    <header class="row-header">
      <h2 class="secondary-heading">
        <%= link_to category.name.capitalize, category_path(category) %>
      </h2>
      <% if current_user.admin? %>
        <%= button_to admin_category_path(category),
                                          method: :delete,
                                          data: {confirm: 'Are you sure?'} do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      <% end %>
    </header>

    <section class="gifs">
      <%= render partial: 'gif', collection: category.gifs %>
    </section>

  <% end %>
</main>
