<div class="jumbotron">
  <h1>
    <i class='glyphicon glyphicon-heart'></i>
    <%= current_user.username %>'s Favorite Gifs
    <i class='glyphicon glyphicon-heart'></i>
  </h1>
</div>

<main class="column-container">
  <% @categories.each do |category| %>
    <h2><%= category.name.capitalize %></h2>
    <section class="gifs">
      <% category.user_favorites(current_user).each do |favorite| %>
      <figure class="gif">
        <img src=<%= favorite.gif.image_path %>>
        <%= button_to favorite_path(favorite), method: 'delete' do %>
          <i class='glyphicon glyphicon-heart'></i>
        <% end %>
      </figure>
      <% end %>
    </section>
  <% end %>
</main>
