<h1>Welcome, <%= current_user.username %>!</h1>

<h1>Favorite Gifs</h1>
<% current_user.gifs.each do |gif| %>
  <img src=<%= gif.image_path  %>>
  <p><%= gif.category %></p>
<% end %>

<%= link_to 'Log Out', logout_path, method: :delete %>
