<section class="row-container">
  <%= form_tag admin_gifs_path do %>
  <%= label_tag :category %>
  <%= search_field_tag :category %>
  <%= submit_tag 'Generate Gif', class: 'submit-button' %>
  <% end %>
</section>
