.submit-button {
  background-color: transparent;
  border-color: $stark;
  @include small-text;
  a {
    @include small-text;
    text-decoration: none;
  }
}

.submit-button:hover {
  border-color: $fuscia;
}

button {
  background-color: $void;
  border-color: $void;
  outline: none;
  a {
    color: $stark;
    border: none;
  }
  .glyphicon {
    font-size: 2em;
  }
  .glyphicon:hover {
    color: $fuscia;
  }
}
