text, a {
  color: $stark;
  decoration: none;
}

.small-link, label {
  @include small-text;
  text-decoration: none;
}

.small-link:hover, .large-link:hover, .small-link:active, .larg-link:active {
  color: $stark;
  text-decoration: none;
  background-color: $void;
  border-bottom: 2px double $fuscia;
}

h1, .primary-heading {
  color: $stark;
  font: {
    family: $primary;
    weight: bold;
    size: 40px;
  }
}

.secondary-heading {
  color: $stark;
  text-decoration: none;
  font: {
    family: $secondary;
    size: 40px;
    weight: bold;
  }
}

.row-header {
  display: flex;
  align-items: center;
  margin-top: 70px;
  button {
    padding-top: 18px;
    margin-left: 5px;
  }
}
