/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway');

$void: #0E0B16;
$fuscia: #A239CA;
$jewel: #4717F6;
$stark: #E7DFDD;
$primary: 'Josefin Sans', 'sans-serif';
$secondary: 'Raleway', 'sans-serif';

@mixin sublime-vivid {
background: $jewel;
background: linear-gradient(to right, $fuscia, $jewel);
}

.navbar {
  background-color: black;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navbar-right {
    margin-left: 30%;
    label {
      color: $stark;
    }
  }
}

.jumbotron {
  @include sublime-vivid;
  display: flex;
  justify-content: center;
  padding: 200px;
}

h1 {
  color: $stark;
  font: {
    family: $primary;
    weight: bold;
  }
}

body {
  background-color: $void;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  outline: none;
}

img {
  max-width: 250px;
  max-height: 300px;
}

text {
  color: white;
}

button {
  background-color: $void;
  border-color: $void;
  outline: none;
  color: $fuscia;
  .glyphicon {
    font-size: 2em;
  }
  .glyphicon:hover {
    color: $jewel;
  }
}

.submit-button {
  background-color: $void;
}

a, .submit-button, label {
  color: $stark;
  font: {
    family: $secondary;
    size: 17px;
  }
}

a:hover {
  color: $fuscia;
  text-decoration: none;
}

.submit-button:hover {
  border-color: $fuscia;
}

.gifs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .gif {
    display: flex;
    flex-direction: column;
    margin: 30px;
    .btn-group {
      display: flex;
    }
  }
}

.btn-group {
  display: flex;
}

.btn {
  background-color: $void;
  border-color: $jewel;
}
