body {
  background-color: $void;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
}

.row-container {
  display: flex;
  margin: 0 5%;
  ul {
    margin-right: 5%;
  }
}
