<nav class="navbar navbar-inverse navbar-fixed-top">
  <header class="navbar-header">
    <h1 class="primary-heading"><%= link_to 'GifGenerator', root_path, class: 'large-link' %></h1>
  </header>
  <section>
    <%= render partial: 'sessions/new' %>
  </section>
</nav>
