<nav class="navbar navbar-inverse navbar-fixed-top">
  <header>
    <h1>GifGenerator</h1>
  </header>
  <section class="navbar navbar-nav navbar-right">
    <%= render partial: 'sessions/new' %>
  </section>
</nav>
