<nav class="navbar navbar-inverse navbar-fixed-top">
  <header class="navbar-header">
    <h1 class="primary-heading"><%= link_to 'GifGenerator', root_path %></h1>
  </header>
  <ul class="nav navbar-nav, navbar-right">
    <li><%= link_to 'Gifs', gifs_path %></li>
  </ul>
  <section>
    <%= render partial: 'sessions/new' %>
  </section>
</nav>
